[default]

debug = False
benchmark = False
epochs = 100
first_mod = resnet50

redirect_out = False

log_interval = 50

dataset_train = aircraft_train
dataset_val = aircraft_val
dataset_test = aircraft_test
with_seg=False
repr_vec=False
repr_vec_in_drop=0

train_prop = 100

prop_set_int_fmt = True

dropout = 0.2

lr = 0.001
num_workers = 4
momentum = 0.9
weight_decay = 1e-8
use_scheduler = False
seed = 1
nll_weight = 1
aux_mod_nll_weight = 0

model_id= base
exp_id = AIR25

cuda = True
multi_gpu = True
optim = SGD
start_mode = auto
init_path = None

note = None
val_batch_size = 200
batch_size = 12



second_mod = linear
hid_lay=False
maximise_val_metric = True
metric_early_stop = Accuracy
max_worse_epoch_nb = 10
run_test = True

no_train = False
exp_id_no_train =
model_id_no_train =
no_val = False

strict_init = True

pretrained_visual = True

sobel = False
old_preprocess = True
moredataaug_preprocess = False
ws_dan_preprocess=False
upscale_test=False

aux_model=False

zoom = False
zoom_nll_weight = 0
zoom_max_sub_clouds=2
zoom_merge_preds=False
zoom_tied_models=True
zoom_model_no_topk=False

drop_and_crop=False
crop_nll_weight=0
drop_nll_weight=0

supervised_segm_weight=0

big_images = True
very_big_images=False

resnet_simple_att_score_pred_act_func=relu
resnet_chan = 64
resnet_stride = 2
stride_lay2=2
stride_lay3=2
stride_lay4=2
resnet_dilation = 1
resnet_att_chan = 16

resnet_layer_size_reduce = True
resnet_prelay_size_reduce = True

bil_cluster_early=False
bil_clu_earl_exp=False
resnet_bilinear = False
resnet_bil_nb_parts = 3
bil_backgr_weight=0
bil_backgr_thres=0.3
bil_center_loss=False
bil_center_loss_beta=0.05
center_loss_weight=0
bil_cluster=True
bil_cluster_ensemble=False
bil_cluster_ensemble_gate=False
bil_cluster_ensemble_gate_drop=False
bil_cluster_norefine=False
bil_cluster_randvec=False
bil_cluster_glob_norefine=True
apply_softmax_on_sim=False
softm_coeff=1
bil_clus_soft_sched=False
bil_clust_unnorm=False
bil_clus_vect_gate=False
bil_clus_vect_ind_to_use=all
aux_on_masked=False
bil_clust_update_sco_by_norm_sim=False
bil_norm_feat=False
resnet_apply_stride_on_all = False
resnet_replace_by_1x1 = False

distributed=False
distrib_size = 1

normalize_data = True

reduced_img_size = 224
norm_points=True

relu_on_last_layer=True

do_test_again=True
compute_latency = True
only_test=False

deeplabv3_outchan=64
lin_lay_bias=False
multi_feat_by_100=False
shuffle_test_set=False
optuna=False
optuna_trial_nb=3
sq_resizing=True
crop_ratio=0.875
brightness=0.126
saturation=0.5
opt_data_aug=True
opt_att_maps_nb=False
max_batch_size=30
bil_cluster_lay_ind=4
bil_clu_glob_vec=False
bil_clu_glob_rep_vec=False
bil_clu_glob_corr_vec=False
apply_softmax_on_sim_glob=False
bil_clu_deconv=False
multiple_stride=False
zoom_on_act=False
saliency_crop=False
random_sal_crop=False
apply_random_crop=True
max_sub_batch_size=4
dil_on_start=False

master_net=False
m_net_path=None
m_conf_path=None
kl_interp=1
kl_temp=1
transfer_att_maps=False
att_weights=0
att_pow=2
att_term_included=False
att_term_reg=False

end_relu=True
max_batch_size_single_pass = 12
drop_last=False
add_patches=False
patch_res=14
sal_metr_mask=False
sal_metr_mask_prob=1
img_nb_per_class=1
nce_weight=0
nce_weight_sched=False
nce_sched_start=0.0005
sal_metr_mask_remove_masked_obj=False
sched_step_size=2
sched_gamma=0.9
focal_weight=0
adv_weight=0
nce_proj_layer=False
nce_norm=True
compute_ece=False 
loss_on_masked=False
temperature=1
sal_metr_otherimg=False
save_all_epoch_weights=False
multi_obj_sel=True
adv_ce_weight = 0