[default]
epochs = 100
first_mod = resnet50
log_interval = 50
dataset_train = cars_train
dataset_val = cars_train
dataset_test = cars_test
train_prop = 0.9
dropout = 0.2
lr = 0.001
num_workers = 4
momentum = 0.9
weight_decay = 1e-8
seed = 1
nll_weight = 1
model_id= base
exp_id = CARS
cuda = True
multi_gpu = True
optim = SGD
init_path = None
val_batch_size = 200
batch_size = 12
second_mod = linear
maximise_val_metric = True
metric_early_stop = Accuracy
max_worse_epoch_nb = 10


resnet_simple_att_score_pred_act_func=relu
resnet_chan = 64
resnet_stride = 2
stride_lay2=2
stride_lay3=2
stride_lay4=2
sal_metr_mask=False
sal_metr_mask_prob=1
img_nb_per_class=1
focal_weight=0
adv_weight=0
compute_ece=False
loss_on_masked=False
adv_ce_weight=0
multi_obj_sel=True
maximum_pert=1
img_size=224

